.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
}

.userPaper {
  display: none;
}

.computerPaper {
  display: none;
}

.userScissor {
  display: none;
}

.computerScissor {
  display: none;
}

.userRock {
  display: none;
}

.computerRock {
  display: none;
}

@keyframes moveUpanDown {
    0% {
/*         transform:  translateY(where ever this is in pixels); */
    }
    50%{
        transform: translateY(300px) ;
    }
    100%{
        transform: translateX(100vw) translateY(0px);
    }
}